canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #4968f0;
  z-index: 20;
}

#pupsContent {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 80px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #4968f0;
  z-index: 20;
}

#introContent {
  display: none;
  position: fixed;
  padding: 10px;
  width: 380px;
  left: 50%;
  margin-left: -150px;
  height: 400px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #4968f0;
  z-index: 20;
}

#projectsContent {
  display: none;
  position: fixed;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #4968f0;
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}